@font-face {
  font-family: ArialMT;
  src: url(fonts/arialmt.ttf) format("truetype"),
    url(fonts/arialmt.woff) format("woff");
}

.number-block {
  display: flex;
  flex-wrap: wrap;

  font-family: ArialMT;
  font-size: 15px;
  line-height: 18px;

  color: #333333;
}

.number-block__number {
  display: flex;
  height: 32px;
  width: 25px;

  justify-content: center;
  align-items: center;

  background: #f0f0f0;
  border-radius: 2px;
}

.number-block__non-number {
  display: flex;
  height: 32px;

  justify-content: center;
  align-items: center;
}

.number-block__input {
  display: flex;
  height: 32px;
  width: 25px;

  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 2px;
}

.number-block__input:empty {
  padding-left: 7px;
  padding-top: 5px;
}

.number-block__input:focus {
  outline: none;
}

.number-block__input:hover {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  border-radius: 2px;
}

.number-block__input:focus {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.48);
  box-sizing: border-box;
  border-radius: 2px;
}

.number-block__input::after {
  content: "";
  width: 9px;

  border-bottom: 1px solid #999999;
  margin-top: 4px;
  margin-right: 6px;
}

.number-block__input.hidden::after {
  content: none;
}

.number-block__input-error {
  background: #ffffff;
  border: 1px solid #ff1100;
  box-sizing: border-box;
  border-radius: 2px;
}

.number-block__input__error-text {
  margin-top: 4px;

  flex-basis: 100%;

  font-family: ArialMT;
  font-size: 13px;
  line-height: 20px;

  color: #ff1100;
}
