@font-face {
  font-family: ArialMT;
  src: url(fonts/arialmt.ttf) format("truetype"),
    url(fonts/arialmt.woff) format("woff");
}

.number-block {
  display: flex;

  font-family: ArialMT;
  font-size: 15px;
}

.number-block__number {
  display: flex;
  height: 32px;
  width: 25px;

  justify-content: center;
  align-items: center;

  background: #f0f0f0;
  border-radius: 2px;
}

.number-block__non-number {
  display: flex;
  height: 32px;

  justify-content: center;
  align-items: center;
}

.number-block__input {
  display: flex;
  height: 32px;
  width: 25px;

  justify-content: center;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 2px;
}

.number-block__input:hover {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.24);
  box-sizing: border-box;
  border-radius: 2px;
}
